* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

body {
  background-color: #eeebdd;
  color: #1b1717;
  font-family: Avenir, 'Helvetica neue', Helvetica, sans-serif;
}

/* 共通 */
.Section {
  width: 100%;
  padding: 30px 0;
  font-size: 40px;
  min-height: 100vh;
}
.Container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}

.heading {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0.05em;
}

#app {
  background-image: url('/imgs/category_hotel.jpg');
  background-repeat: no-repeat;
  background-size: auto 100vh;
  background-attachment: fixed;
}

.Top {
  color: white;
}

.Info {
  margin-top: 64px;
  font-size: 60px;
}

.Goal {
  margin-top: 64px;
  font-size: 60px;
}

.About {
  display: flex;
  align-items: center;
  background-color: white;
}

.Bottom {
  background-color: white;
}

/* タイトル */
.title {
  padding: 200px 0 20px;
  font-size: 82px;
  text-align: center;
}

/* 横スクロールセクション */
.SideScroll {
  /* background-color: #1b1717; */
  /* background-color: rgba(255, 255, 255, 0.6); */
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.SideScrollHeading {
  color: #eeebdd;
}

.SideScrollListWrapper {
  position: relative;
  width: 100%;
  height: 700px;
}

.SideScrollList {
  position: absolute;
  top: 60px;
  left: 0;
  display: flex;
  /* gap: 0 2px; */
}

.SideScrollItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 60vh;
  background-color: #eeebdd;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;

    transition: transform 0.6s ease;
    &:hover {
      transform: scale(1.1, 1.1);
    }
  }

  p {
    position: relative;
    z-index: 1;
    color: white;
    font-size: 122px;
    font-weight: 700;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 60px;
    pointer-events: none;
  }
}

.SideScrollItem + .SideScrollItem {
  margin-left: 16px;
}

#luxy {
  position: fixed;
  top: 0;
  left: 0;
}

.Cloud {
  position: absolute;
  top: 0;
  left: 0;
}

.Cloud1 {
  width: 300px;
  top: 400px;
  left: 20%;
}
.Cloud2 {
  width: 240px;
  top: 1200px;
  left: 60%;
}
.Cloud3 {
  top: 3000px;
  left: 40px;
  width: 340px;
}
.Cloud4 {
  top: 3600px;
  left: 50px;
  width: 240px;
}

.Cloud5 {
  top: 4600px;
  left: 80%;
  width: 260px;
}
.Cloud6 {
  top: 5600px;
  left: 600px;
  width: 260px;
}
.Cloud7 {
  top: 6600px;
  left: 1000px;
  width: 260px;
}
